version: "3.8"

services:

  mariadb:
    build:
      context: .
      args:
        - arch=
        - version=10.4.13
        - build=dev
    image: leadstec.tencentcloudcr.com/leadstec/mariadb:10.4.13
    ports:
      - "50201:3306"
    volumes:
      - ~/volumes/mariadb.local/log:/data/log
      - ~/volumes/mariadb.local/db:/data/db
      - ~/volumes/mariadb.local/persist:/data/persist
    env_file:
      - ./env
    environment:
      - EMAIL=
      - LCS_LOG_LEVEL=debug
    secrets:
      - lcs
      - deploy
    hostname: mariadb.local
    container_name: mariadb.local

secrets:
  lcs:
    file: ~/.vcubi/lcs
  mariadb:
    file: ./deploy
